<!DOCTYPE html>
<html>

<head>
    <title>Simple Sharing File</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/css/share.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <script type="module">
        import Share from '/scripts/share.js'

        const data = '<%- JSON.stringify(data) %>'
        const props = JSON.parse(data)
        const share = new Share(document.querySelector('#share'), props)

        const webSocket = new WebSocket(`ws://${window.location.host}`)
        webSocket.onopen = () => {
            document.title = 'SSF - Server ON'
        }

        webSocket.onmessage = event => {
            console.log(`[WS][MSG] ${event.data}`)

            try {
                const data = JSON.parse(event.data)

                if (data?.files) {
                    const files = data.files
                    share.setState({ files })
                }

            } catch (error) {
                alert(error)
            }
        }

        webSocket.onclose = () => {
            document.title = 'SSF - Server Closed'
            container.innerHTML = '<h1>Server Closed.</h1>'
        }

    </script>
</head>

<body>
    <div id="container" class="container">

        <div id="share"></div>
    </div>
</body>

</html>